body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.announcement-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.hero-wrapper {
  display: flex;
  padding-top: 100px;
  background-color: #f4f4f4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .product-title {
    @apply tw-font-saira tw-text-[26px] pc:tw-text-[32px] tw-font-semibold tw-leading-[1.1] tw-text-white;
  }

  .product-vendor {
    @apply tw-font-darker-grotesque tw-text-[15px] tw-font-medium tw-leading-[1.25] lg:tw-text-[18px] tw-text-white;
  }

  .product-price {
    @apply tw-font-darker-grotesque tw-text-[20px] tw-font-bold tw-leading-[1.5] tw-text-white;
  }

  .product-variant-label {
    @apply tw-font-darker-grotesque tw-text-[15px] tw-font-medium tw-leading-[1.25] lg:tw-text-[18px] tw-text-white;
  }

  .product-variant-input {
    @apply tw-border-transparent tw-font-darker-grotesque tw-text-[15px] tw-font-semibold tw-leading-[1.25] lg:tw-text-[18px] tw-text-white 
        tw-cursor-pointer tw-border tw-transition-all tw-duration-300 hover:tw-bg-black hover:tw-text-white;
  }

  .product-variant-input.color {
    @apply hover:tw-bg-transparent hover:tw-border-white;
  }

  .product-add-btn {
    @apply tw-font-saira tw-font-bold tw-text-[14px] tw-leading-[1.25] tw-text-white;
  }

  .product-description {
    @apply tw-font-darker-grotesque tw-text-[16px] tw-leading-[1.25] tw-font-medium tw-text-white;
  }

  .swiper-scrollbar > div {
    @apply tw-block tw-bg-[#D9D9D9];
  }
}
